<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lestvica najboljših</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/stili.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <h3>Lestvica najboljših igralcev</h3>
      <table class="table table-condensed">
        <tr>
          <th class="text-center">Rezultat</th>
          <th class="text-center">Vzdevek</th>
          <th class="text-center">Število vprašanj</th>
          <th class="text-right">Čas reševanja</th>
        </tr>
        <%
          lestvica.sort(function (a, b) {
            if (a.rezultat < b.rezultat) {
              return 1;
            } else if (a.rezultat > b.rezultat) {
              return -1;
            }
            if (a.stVprasanj < b.stVprasanj) {
              return 1;
            } else if (a.stVprasanj > b.stVprasanj) {
              return -1;
            }
            if (a.cas > b.cas) {
              return 1;
            } else if (a.cas < b.cas) {
              return -1;
            }
            return 0;
          });
        %>
      </table>
    </div>
  </body>
</html>
